<div class="row">
  <div class="col main-box">
    <h1>7 Tips How To Pass A Job Interview Successfully</h1>
    <div class="row">
      <div class="col d-flex flex-column align-items-center"></div>
      <div class="slider_box">
        <button (click)="prevButton()">&#60;</button>

        <div class="slider">
          <div class="slide active">
            <img src="assets/images/1.jpg" alt="" />
            <p>
              Research the company and the role beforehand. This will help you
              understand the company's mission and values, as well as the
              specific requirements and expectations for the role.
            </p>
          </div>

          <div class="slide">
            <img src="assets/images/2.jpg" alt="" />
            <p>
              Prepare for common interview questions. Some common questions
              include: "Tell me about yourself," "Why do you want to work for
              this company," and "What are your strengths and weaknesses?" It's
              a good idea to practice answering these types of questions
              beforehand so you feel more comfortable and confident during the
              interview.
            </p>
          </div>

          <div class="slide">
            <img src="assets/images/3.jpg" alt="" />
            <p>
              Dress appropriately. Make sure to dress in business attire and
              arrive on time for the interview.
            </p>
          </div>

          <div class="slide">
            <img src="assets/images/4.jpg" alt="" />
            <p>
              Be positive and enthusiastic. Show that you are excited about the
              opportunity to work for the company and are confident in your
              abilities.
            </p>
          </div>

          <div class="slide">
            <img src="assets/images/5.jpg" alt="" />
            <p>
              Be positive and enthusiastic. Show that you are excited about the
              opportunity to work for the company and are confident in your
              abilities.
            </p>
          </div>

          <div class="slide">
            <img src="assets/images/1.jpg" alt="" />
            <p>
              Listen carefully to the interviewer's questions and take your time
              answering. It's important to fully understand the question before
              responding, and to provide clear and concise answers.
            </p>
          </div>

          <div class="slide">
            <img src="assets/images/1.jpg" alt="" />
            <p>
              Follow up after the interview. It's a good idea to send a
              thank-you note to the interviewer(s) expressing your appreciation
              for the opportunity and reiterating your interest in the role.
              This can help to keep you top-of-mind as the company makes its
              hiring decision.
            </p>
          </div>
        </div>

        <button (click)="nextButton()">&#62;</button>
      </div>
    </div>
  </div>
</div>
