<div class="row" style="margin: auto">
  <h3 class="ms-3">Resources for learning programming</h3>
</div>

<div class="row ms-2 mt-5" style="margin: auto">
  <div class="col box">
    <h2 class="mb-5 mt-5">Udemy channels</h2>

    <div class="udemy">
      <div class="row"  style="margin: auto">
        <div class="col-6">
          <a href="https://www.udemy.com/user/jonasschmedtmann/" target="_blank"><img src="assets/images/Udemy-1.png" alt="Jonas Schmedtmann" /></a>
         
          <p>Jonas Schmedtmann is a popular instructor on Udemy, an online learning platform. He has taught numerous courses on web development, design, and other related topics, and has received positive reviews from his students. If you are interested in learning more about web development or design, you may want to consider taking one of his courses on Udemy.</p>
        </div>
        <div class="col-6">
          <a href="https://www.udemy.com/user/maximilian-schwarzmuller/" target="_blank"><img src="assets/images/Udemy-2.png" alt="Maximilian Schwarzmüller" />
          </a>
          <p>Maximilian Schwarzmüller is also a popular instructor on Udemy, known for his courses on web development and programming. He has taught a wide variety of courses on topics such as HTML, CSS, JavaScript, PHP, and more, and has received positive reviews from his students. If you are interested in learning about web development or programming, you may want to consider taking one of his courses on Udemy.</p>
        </div>
      </div>


    </div>
    <h2 class="mb-5 mt-5">Youtube channels</h2>
    <div class="youtube">
    
    <div>
      <img src="assets/images/netninjayt.png" alt="NetNinja" />
      <p>The Net Ninja is a YouTube channel created by Shaun Pelling, a web developer and instructor. The channel features a variety of tutorials and courses on web development, with a focus on technologies such as HTML, CSS, JavaScript, and React. The channel is popular among those interested in learning web development and has received positive reviews from its viewers. If you are looking to learn web development, you may want to consider subscribing to the Net Ninja YouTube channel and checking out some of the tutorials and courses it offers.</p>
    </div>

    <div>
      <p>Traversy Media is a YouTube channel created by Brad Traversy, a web developer and instructor. The channel features a variety of tutorials and courses on web development, with a focus on technologies such as HTML, CSS, JavaScript, and Node.js. The channel is popular among those interested in learning web development and has received positive reviews from its viewers. If you are looking to learn web development, you may want to consider subscribing to the Traversy Media YouTube channel and checking out some of the tutorials and courses it offers.</p>
      <img src="assets/images/traversymediayt.png" alt="TraversyMedia" />
    </div>

    <div>
      <img src="assets/images/moshyt.png" alt="Mosh" />
      <p>Programming with Mosh is a YouTube channel created by Mosh Hamedani, a software engineer and instructor. The channel features a variety of tutorials and courses on programming, with a focus on technologies such as C#, .NET, and ASP.NET. The channel is popular among those interested in learning programming and has received positive reviews from its viewers. If you are looking to learn programming, you may want to consider subscribing to the Programming with Mosh YouTube channel and checking out some of the tutorials and courses it offers.</p>
    </div>

    <div>
      <p>LearnCode.academy is a YouTube channel created by Will Stern, a software engineer and instructor. The channel features a variety of tutorials and courses on web development and programming, with a focus on technologies such as HTML, CSS, JavaScript, and Node.js. The channel is popular among those interested in learning web development and programming and has received positive reviews from its viewers. If you are looking to learn web development or programming, you may want to consider subscribing to the LearnCode.academy YouTube channel and checking out some of the tutorials and courses it offers.</p>
      <img src="assets/images/learncodeyt.png" alt="LearnCode" />
    </div>

  </div>
</div>
  <h5 class="ms-4 mt-5">FreeCodeCamp</h5>

  <div class="free-code">
    <div class="row" style="margin: auto">
      <div class="col-6">
        <p>
          freeCodeCamp is a non-profit organization that provides a
          comprehensive curriculum of coding challenges and projects, as well as
          a platform for learners to practice and build their skills. It was
          created in 2014 with the goal of helping people learn to code for
          free, and it has since grown to become one of the most popular coding
          education platforms on the web. On freeCodeCamp, you can learn a wide
          range of coding languages and technologies, including HTML, CSS,
          JavaScript, Node.js, React, and more. The platform is organized into a
          series of tracks that guide learners through the curriculum and help
          them build real-world projects, such as web applications and data
          visualization tools. freeCodeCamp is completely free to use and does
          not require any payment or subscriptions. It is supported by a
          community of volunteers and donors who contribute their time and
          resources to help make coding education accessible to everyone.
        </p>
      </div>
      <div class="col-6">
        <img src="assets/images/freecodecamp.png" alt="freeCodeCamp" />
      </div>
    </div>
  </div>
</div>
