<div class="row" style="margin: auto">

    <h3 class="ms-3">Resources for learning programming</h3>


  
</div>

<div class="row ms-2 mt-5" style="margin: auto">
  <div class="col box">
    <h2 class="mb-5 mt-5">Udemy channels</h2>

    <div>
      <img src="assets/images/Udemy-1.png" alt="Jonas Schmedtmann" />
      <img src="assets/images/Udemy-2.png" alt="Maximilian Schwarzmüller" />
    </div>


    <h2 class="mb-5 mt-5">Youtube channels</h2>

    <div>
      <img src="assets/images/netninjayt.png" alt="NetNinja" />
    </div>

    <div>
      <img src="assets/images/traversymediayt.png" alt="TraversyMedia" />
    </div>

    <div>
      <img src="assets/images/moshyt.png" alt="Mosh" />
    </div>

    <div>
      <img src="assets/images/learncodeyt.png" alt="LearnCode" />
    </div>

    <div>
      <img src="assets/images/kevinpowellyt.png" alt="KevinPowell" />
    </div>
  </div>



  <h5 class="ms-4 mt-5">FreeCodeCamp</h5>

  <div class="free-code">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum illo
      incidunt porro aliquid, sit sunt odio aspernatur commodi labore. Saepe
      quos fugit autem asperiores ad ullam enim quae beatae aperiam! Corporis
      reprehenderit beatae totam natus perspiciatis nemo quibusdam, quaerat
      deserunt qui officia atque eius quia dolor, aliquid impedit, quod
      laboriosam.
    </p>
    <img src="assets/images/freecodecamp.png" alt="" />
  </div>
</div>
