h3 {
  text-align: center;
  margin-top: 20px;
}

img {
  width: 600px;
  height: 400px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    border-bottom: 2px solid black;
  }
}

.udemy {
  border-bottom: 1px solid black;
}

.youtube {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;

  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;

    p {
      margin: 0 10px;
    }
  }
}

h5 {
  text-align: center;
}

.free-code {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  p {
    margin: 20px 0;
  }

  div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    img {
      width: 500px;
      height: 400px;
    }
  }
}
