<div class="box row m-4" style="margin: auto">
  <div class="col-6 mb-5" *ngFor="let book of books">
    <div class="row">
      <div class="col-5">
        <img
          src="https://interview-prep-site.onrender.com/image/{{ book._id }}.jpg"
          alt="Book Cover"
        />
      </div>
      <div class="col text">
        <div>
          <h4>{{ book.title }}</h4>
          <p class="text">{{ book.description }}</p>
        </div>

        <div class="row author">
          <div class="col">
            <p class="d-flex justify-content-between">
              <span>
                Author: <strong>{{ book.author }}</strong></span
              >
              <button class="btn btn-dark">
                <a href="{{ book.link }}" target="_blank">Buy</a>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngb-pagination
  class="d-flex justify-content-center mt-4"
  [collectionSize]="11"
  [(page)]="params.page"
  [pageSize]="params.pageSize"
  (pageChange)="onPageChange($event)"
  aria-label="Default pagination"
></ngb-pagination>
