  <nav class="bg-dark mb-2">
    <p class="text-white">Software Development Interview</p>
    <ul>   
        
        <li class="nav-item ms-3">
          <a class="nav-link" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link" [routerLink]="['questions']">Questions</a>
        </li>
        <li class="nav-item ms-3">
            <a class="nav-link" [routerLink]="['books']">Recommended books</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" [routerLink]="['courses']">Recommended courses</a>
          </li>
        <li class="nav-item ms-3 contact">
          <a class="nav-link" [routerLink]="['contact']">Contact</a>
        </li>
      </ul>

  </nav>