nav {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;

  a {
    color: white;
  }

  ul {
    display: flex;
    align-items: center;
    width: 100%;

    li {
      list-style-type: none;
    }

  }
}
